
html {
  box-sizing: border-box;
  font-family: "Bevan, sans-serif";
  font-weight: normal;
  line-height: 1.5;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #79756f;
  border-style: solid;
  border-right-width: 0;
  border-left-width: 0;
  border-color: #595652;
  text-align: center;
  color: white;
  margin: 0;
}

h1 {
  margin: .3em 0 0;
  padding: 0;
  font-family: Bevan, serif;
  font-weight: normal;
}

.cards {
  margin: 0 .6em .6em;
  padding: 0 .5em;
  list-style-type: none;
  text-align: center;
  font-family: sans-serif;
}

.cards li {
  display: inline-block;
}

.cards a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 0 0 .3em;
  padding: .5em .75em;
  background-color: #713837;
  border-radius: 5px;
}

.cards a:hover {
  text-decoration: none;
  background-color: #f33;
  color: white;
}
